In [4]:
import pandas as pd

marconi = pd.read_parquet("../very_big_data/marconi_full.parquet")
marconi

,session_id,turn_id,ts,num_input_tokens,num_output_tokens,input_tokens,output_tokens
0,0,0,0.000000,638,394,"[1, 8853, 12154, 1115, 376, 1792, 613, 376, 30...","[1, 8853, 12154, 1115, 376, 465, 22137, 613, 3..."
1,1,0,2.000000,1298,328,"[1, 8853, 12154, 1115, 376, 1792, 613, 376, 30...","[1, 8853, 12154, 1115, 376, 465, 22137, 613, 3..."
2,2,0,4.000000,814,363,"[1, 8853, 12154, 1115, 376, 1792, 613, 376, 30...","[1, 8853, 12154, 1115, 376, 465, 22137, 613, 3..."
3,0,1,5.000000,2121,138,"[1, 8853, 12154, 1115, 376, 1792, 613, 376, 30...","[1, 8853, 12154, 1115, 376, 465, 22137, 613, 3..."
4,3,0,6.000000,2034,460,"[1, 8853, 12154, 1115, 376, 1792, 613, 376, 30...","[1, 8853, 12154, 1115, 376, 465, 22137, 613, 3..."
...,...,...,...,...,...,...,...
96865,2985,11,905.666667,2377,19,"[1, 8853, 3166, 1115, 376, 29887, 415, 613, 37...","[1, 8853, 3166, 1115, 376, 26029, 613, 376, 17..."
96866,2905,11,939.666667,2406,34,"[1, 8853, 3166, 1115, 376, 29887, 415, 613, 37...","[1, 8853, 3166, 1115, 376, 26029, 613, 376, 17..."
96867,2930,9,956.000000,2432,20,"[1, 8853, 3166, 1115, 376, 29887, 415, 613, 37...","[1, 8853, 3166, 1115, 376, 26029, 613, 376, 17..."
96868,2947,11,960.333333,2608,18,"[1, 8853, 3166, 1115, 376, 26029, 613, 376, 17...","[1, 8853, 3166, 1115, 376, 29887, 415, 613, 37..."
96869,2986,11,1022.000000,2655,18,"[1, 8853, 3166, 1115, 376, 26029, 613, 376, 17...","[1, 8853, 3166, 1115, 376, 29887, 415, 613, 37..."

In [29]:
A10_per_hour = 1.2
total_prefill_tokens = marconi['num_input_tokens'].sum()
total_reality_time = 120
total_simulation_time = 0.0305

total_reality_price = total_reality_time * A10_per_hour
total_simulation_price = total_simulation_time * A10_per_hour

print("Total simulation price (EUR):", total_simulation_price)
print("Total reality price (EUR):", total_reality_price)


print("Total prefill tokens:", total_prefill_tokens)

Total simulation price (EUR): 0.0366
Total reality price (EUR): 144.0
Total prefill tokens: 1041916164

In [28]:
def eur_per_Mtok_per_sec(cost_per_hour, hours, tokens):
    cost_eur      = cost_per_hour * hours          # â‚¬
    seconds       = hours * 3600                   # s
    return cost_eur * 1_000_000_000 / tokens / seconds # â‚¬/Mtok/s


A10_per_hour         = 1.2
total_time_reality_h = 120
total_time_simul_h   = 0.0305

tok_prefill = marconi['num_input_tokens'].sum()
tok_decode  = marconi['num_output_tokens'].sum()   # if present
total_tokens = tok_prefill + tok_decode

eur_Mtok_s_real = eur_per_Mtok_per_sec(A10_per_hour,
                                       total_time_reality_h,
                                       total_tokens)
eur_Mtok_s_sim  = eur_per_Mtok_per_sec(A10_per_hour,
                                       total_time_simul_h,
                                       total_tokens)

print(f"Reality    : {eur_Mtok_s_real:>12,.10f} â‚¬/Mtok/s")
print(f"Simulation : {eur_Mtok_s_sim:>12,.10f} â‚¬/Mtok/s")

Reality    : 0.0003107908 â‚¬/Mtok/s
Simulation : 0.0003107908 â‚¬/Mtok/s